html,
body,
#root,
.app,
.columns {
    height: 100%;
}

#root,
.app,
.columns {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (max-width: 800px) {
    .editor,
    .editor .ace_editor {
        min-height: 500px;
    }
}

/* .app {
    background-color: yellow;
} */

.app-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* .columns {
    align-items: stretch;
} */
